@model eCommerce_Core_Model.Entity.Product
@{
    ViewBag.Title = Model.Brand + " " + Model.Model;
}
<style>
    .custom-btn {
        padding-top: 12px !important;
        width: 360px !important;
        height: 55px;
        border-radius: 30px;
        background-color: #e25b45;
        font-size: 20px !important;
        color: white !important;
    }

    li {
        list-style-type: none;
    }
    
</style>

<div class="row">
    <h3 style="font-family: 'Patrick Hand SC', cursive;font-size:35px;"> <i class="fas fa-eye" style="color:#1b1b1b"></i> İncelediğiniz Ürün : <span style="font-weight:600;">@Model.Brand - @Model.Model</span>  </h3>
    <hr />
    <div class="col-md-5" style="margin-right:60px;">
      
            <img src="@Model.ImageUrl" class="img-rounded img-responsive "  />

            <br />
        <div class="row">

            <div class="col-md-6" style="float:left;">
                <ul>
                    <li><b>Şebeke Frekansı: </b>LTE (4G)</li>
                    <li><b>İşlemci Hızı Aralığı:: </b>2.01 GHz – 2.50)</li>
                    <li><b>İşlemci Türü: </b>Exynos 7 Series</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><b>Ekran Tipi: </b>FHD Plus</li>
                    <li><b>Mobil Veri Hızı: </b>4.5G Uyumlu</li>
                    <li><b>İşlemci Hızı: </b>2.30 Ghz Quad +</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        @if (Model.CategoryID == 1)
        {
            <h4><i class="fas fa-laptop" style="color:#1b1b1b"></i>  @Model.Brand - @Model.Description</h4>
        }
        else if (Model.CategoryID == 2)
        {
            <h4><i class="fas fa-mobile-alt" style="color:#1b1b1b"></i>  @Model.Brand - @Model.Description</h4>
        }
        else if (Model.CategoryID == 3)
        {
            <h4><i class="fas fa-tablet-alt" style="color:#1b1b1b"></i>  @Model.Brand - @Model.Description</h4>
        }
        else if (Model.CategoryID == 4)
        {
            <h4><i class="fas fa-stopwatch" style="color:#1b1b1b"></i>  @Model.Brand - @Model.Description</h4>
        }

        <br />

        <h1>@Model.Price.ToString("##,## ₺")</h1>
        <br />
        <div>
            <h4> <b>Renk</b> </h4>
            <button id="renk1" class="btn btn-default active">Siyah</button>
            <button id="renk2" class="btn btn-default">Beyaz</button>
        </div>
        <br />
        <a href="#" role="button" class="btn custom-btn"><i class="fas fa-shopping-cart"></i> SEPETE EKLE    </a>

    </div>
</div>


